<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>百度</title>
	<link rel="stylesheet" href="bootstrap.min.css">
	<style>
		li{
			list-style: none;
		}
		#logo{
			width: 285px;
		}
		.gray{
			background: #eee;
		}
	</style>
</head>
<body>
	<div class="container" id="app">
		<h2 class="text-center"><img id="logo" src="https://www.baidu.com/img/bd_logo1.png" ></h2>
		<br>
		<div class="form-horizontal">
			<div class="col-sm-offset-3 col-sm-5">
				<input type="text" class="form-control" v-model="words" @keyup.prevent="get($event)" @keydown.down="changeDown()" @keydown.up="changeUp()" autofocus>
				<div class="list-group">
					<a :class="{gray:i === nowIndex}" :href=`https://www.baidu.com/s?wd=${value}` target="_blank" class="list-group-item" v-for="(value, i) in res">{{value}}</a>
				</div>
			</div>
			<input type="button" value="百度一下" class="btn btn-info col-sm-1">
			
			
		</div>
	</div>



	<script src="vue.js"></script>
	<script src="vue-resource.js"></script>
	<script>
		

		new Vue({
			el: '#app',
			data: {
				words: '',
				res: [],
				nowIndex: -1
			},
			methods: {
				get(e){
					if(e.keyCode === 38 || e.keyCode === 40)return;

					if(e.keyCode==13){
						e.preventDefault();
                        window.open('https://www.baidu.com/s?wd='+this.words);
                        return;
                    }
					
					this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
						wd: this.words
					},{
						jsonp: 'cb'
					}).then(function  (data) {
						this.res = data.data.s;
					},function  (err) {
						console.log(err);
					})
				},
				changeDown(){
					this.nowIndex++;
					if(this.nowIndex === this.res.length){
						this.nowIndex = 0;
					}
					this.words = this.res[this.nowIndex];
				},
				changeUp(){
					if(this.nowIndex === -1){
						this.nowIndex = this.res.length;
					}
					if(this.nowIndex === 0){
						this.nowIndex = this.res.length;
					}
					this.nowIndex--;
					this.words = this.res[this.nowIndex];
					
				}
			}
		})
	</script>
</body>
</html>